*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:segoe ui;
    text-decoration:none;
}
/*home header*/
.navbar{
    display:flex;
    background:#068DA9;
    justify-content:space-between;
    align-items:center;
}
.navbrand {
    width:100%;
}
.navbrand img{
    width:120px;
    margin-left:20px
}
.nav-items{
    width:30%
}
.nav-items ul{
    display:flex;
    padding:0 2%;
    width:100%;
    list-style:none;
}
.nav-items ul li{
    padding:0 2%;
}
.nav-items ul a{
    text-decoration:none;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.nav-items ul li a img{
    width:20px;
    height:20px
}
/*home*/
.hero-section{
    display:flex;
    justify-content;center;
    align-items:center;
    padding:2% 5%;
}
.hero-section img{
    width:60%;
}
.hero-section h1{
    font-size:3em;
    font-weight:300;
}
.hero-tags p{
    margin:2% 0;
}
.hero-tags a{
    background:#068DA9;
    padding:1%;
    color:white;
    border-radius:2px;
    transition:0.3s;
}
.hero-tags a:hover{
    background:#ECF8F9;
    color:black;
    box-shadow:1px 1px 5px 1px #068DA9;
}
/*news*/
.news .marquee{
    width:50%
    background:#ECF8F9;
}
.purchase img{
    width:30%;
    border-radius:0px 20px 20px 0px;
}
.purchase{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#068DA9;
    width:100%;
    padding:5%;
}
.purchase h1{
    font-size:3em;
    color:white;
    font-weight:100;
}

/*services*/
.service{
    padding:3%
}
.service h1{
    font-size:2em;
    text-align:center;
}
.service-items{
    display:flex;
    padding:5%
}
.service-items div{
    width:100%;
    border:2px solid red;
    margin:10px
}
.service-items img{
    width:100%;
}
.jokes, .notes, .contact{
    display:flex;
    flex-direction:column;
    justify-content:contact;
    align-items:center;
    padding:1%;
    box-shadow:5px 5px 1px 2px #068DA9;

}
.service-items  a{
    padding:1.5%;
    border-radius:5px;
    background:#068DA9;
    color:white;
    transition:0.4s;
}
.service-items  a:hover{
    background:#ECF8F9;
    box-shadow:1px 1px 5px 1px black;
    color:black;
}
/*team*/
.team{
        background:#f2f2f2;
}
.members{
    display:flex;
    justify-contact:centers;
    align-items:center;
    height:90vh;

}
.members h1{
font-weight:400;
}
.team h1{
    font-size:2em;
    text-align:center;
   padding-top:3%;
}
.members img{
    width:50%;
    border-radius:100%;
    box-shadow:0px 0px 5px 1px dimgray;

}
.members div{
    width:100%;
    margin:10px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
/*footer*/
.footer{
    background:#068DA9;
    display:flex;
    color:white;
    flex-direction:column;s
    justify-content:center;
    align-items:center;
}
.quick-links{
    display:flex;
    justify-content:space-around;
}
.quick-links *{
    margin:0 40px
}
.footer-img{margin-top:20px}
.follow{
    margin-top:20px;
}
/*contact us*/
.contactus{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    padding:3%
}
.contact-form{
    width:40%
}
.contact-form div{
    display:flex;
    flex-direction:column;
}
.contactus img{
    width:70%;
}
.contact-form div input,textarea{
    padding:2%;
    width:100%;
    margin-bottom:10px;
}
.contact-form div label{
    font-size:0.9em;
}
.contact-form div input[type=submit]{
    background:#068DA9;
    color:white;
    width:30%;
    margin-top:10px;
    border:none;
    transition:0.4s;
}
.contact-form div input[type=submit]:hover{
    background:white;
    color:black;
    box-shadow:0px 0px 3px 1px black;
    cursor:pointer;
}
.contact-form h1{
    font-weight:600;
}
/*registration*/
.form{
    width:70%;
    margin:0 auto;
    background:white;
    padding:2%;
    border-radius:10px;
    box-shadow:0px 0px 10px 0px black;
    margin-bottom:100px;
}
.flex{
    display:flex;
}
.flex div{
    display:flex;
    flex-direction:column;
    width:100%;
    margin:1%
}
.tag h1{
    text-align:center;
    font-size:2em;
    font-weight:600;
    margin:3%;
}
.flex input,select,textarea{
    padding:2%;
    height:35px
}
.flex label{
    font-size:0.9em;
}
.button a{
    color:white;
    padding:1%
}
.flex input[type=submit],input[type=file], .button{
    margin:1%;
    background:#068DA9;
    border:none;
    transition:0.4s;
    border-radius:5px;
    color:white;
    height:auto;
    cursor:pointer;
}
.flex input[type=submit]:hover, .button:hover{
    background:#609c44;
    color:white;
}
/*login*/
.loginContainer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:60%;
    margin:0 auto;
    padding:3%;
    border-radius:10px;
    box-shadow:0px 0px 3px 0px black;
    margin-top:40px;
    margin-bottom:40px;
}
.loginForm{
    display:flex;
    flex-direction:column;
    width:100%;
    padding:3%;
}
.loginForm div{
    width:100%;
    display:flex;
    flex-direction:column;
}
.loginImg img{
    width:100%;
    border-radius: 1px 20px 1px 10px;
    box-shadow:0px 0px 10px 0px black;
}
.loginForm h1{
    font-size:2em;
    font-weight:400;
    margin-bottom:10px;
}
.loginForm input{
    height:30px;
    padding:1%;
    margin-bottom:10px
}
.loginForm label{font-size:0.9em}
.loginForm input[type=submit]{
    background:#068DA9;
    padding:4%;
    border:none;
    transition:0.4s;
    border-radius:5px;
    color:white;
    height:auto;
    cursor:pointer;
}
/*user home style*/
.user-navbrand{width:50%}
user-nav-items{width:50%}
.user-navbar{
    display:flex;
    justify-content:center;
    align-items:center;
    background:#B04759;
}
.user-navbrand img{
    width:20%;
}
.user-nav-items ul{
    display:flex;
    justify-content:center;
    align-items:center;
    list-style:none;
    width:100%;
}
.user-nav-items ul li a{text-decoration:none;color:white}
.user-nav-items ul li{
    margin:0 5px;
    font-weight:bolder;
}
.userfooter{
        background:#B04759;
        width:100%
}
/*welcome*/
.welcome{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:60%;
    box-shadow:0px 0px 5px 0px black;
    border-radius:10px;
    background:#F99B7D;
    margin:0 auto;
    padding:2%;
    margin-top:20px;
    margin-bottom:20px;
}
.welcome img{width:100%;border-radius:0px 20px 20px 0px;}
.welcome div{width:50%}
.welcome div:nth-child(1){
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    color:white;
    font-size:1.5em;
    align-items:center;
}
/*profile*/
.profile{
    display:flex;
    justify-content:center;
     background:#F99B7D;
    align-items:center;
    width:60%;
    margin:0 auto;
    margin-top:30px;
    box-shadow:0px 0px 5px 0px black;
    margin-bottom:30px;
    border-radius:10px;

}
.pro-details{
    padding:2%;
}
.pro-details div{
    display:flex;
    flex-direction:column;
    justify-content:center
    align-items:center;
    color:white;
}
.pro-img{
    width:50%;
    padding:1%
}
.pro-img img{
    width:100%;
    border-radius:20px 20px 0px 0px;
    box-shadow:0px 0px 5px 2px #E76161;
}
/*user contacts*/
.usercontact{
    display:flex;
    justify-content:center;
    align-items:center;
    width:60%;
    margin:0 auto;
    margin-top:20px;
    margin-bottom:20px;
    border-radius:20px 20px 0px 0px;
    box-shadow:0px 0px 5px 0px black;
    padding:2%;
}
.usercontact div{
    display:flex;
    flex-direction:column;
}
.usercontact .left{
    width:50%;
    padding:2%;
}
.usercontact .left input{
    margin-bottom:1%;
    padding:1%;
    height:30px
}
.usercontact .right{
    width:50%;
    padding:2%;
    background:#E76161;
    border-radius:20px 20px 0px 0px;
}
.usercontact .right input{
    margin:1%;
    padding:1%;
    height:30px
}
.usercontact .right h1{
    text-align:center;
    font-size:1.3em;
    font-weight:500;
}
.usercontact input[type=submit]{
    background:#068DA9;
    border:none;
    transition:0.4s;
    border-radius:5px;
    color:white;
    height:auto;
    cursor:pointer;
    padding:2%;
    width:50%;
}
/*notes*/
.usernotes{
    display:flex;
    justify-content:center;align-items:center;
    height:70vh;
    width:100%;
}
.usernotes div{
    display:flex;
    flex-direction:column;
    width:100%;
    padding:3%;
}
.usernotes div h1{
    font-size:5em;
    font-weight:300;

}
.usernotes div input, .feedback-selected{
    margin:1%;
    height:40px;
    padding:1%;
    width:70%;
}
.usernotes input[type=submit]{
    background:#068DA9;
    border:none;
    transition:0.4s;
    border-radius:5px;
    color:white;
    height:auto;
    cursor:pointer;
    padding:2%;
    width:70%;
}
.notes-show{
    margin-top:90px;
    background:#bcc0c4;
    text-align:center;
    }
/*user jokes*/
.userjokes input{
    display:flex;
    width:10%
}
