<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link rel="shortcut icon" href="{{url_for('static',filename='fav_icon/icon.ico')}}"/>
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
        <style>


        </style>
    </head>
    <body>
    {% block body %}
        <form method="post" action="/about">
            <table  cellspacing="0" width="100%" cellpadding="0">
                <tr>
                    <td style="background-image:url('static/img/about.jpg');background-repeat:no-repeat;
                                background-attachment:fixed;">
                        {% include('header.html') %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" cellspacing="0" class="about-page-bg" cellpadding="0" >
                            <tr>
                                <td>
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td class="about-page-head">INTRO TO DIGITAL DIARY</td>
                                        </tr>
                                        <tr class="about-page-para">
                                            <td>
                                                <p>"Digital Diary is a digital organizer that can store all your contacts, memo, address and schedule records. This app is based on the concept of diary with digitalization.
                                                    It helps user to store important information on mobile which in turn helps user to check for information on a go. It has nice interface which provide user an interactive
                                                    experience. User can even mail all stored information to itself or to a friend which can act as online storage. It is developed to store account information, detailed
                                                    friends information, set reminder or alert for any event, store other information in description form. This app will help in our day to day life."
                                                    <br><br><br><br><hr/>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="about-page-head">PERFORMANCE</td>
                                        </tr>
                                        <tr>
                                            <td class="about-page-para">
                                                <ul>
                                                    <li>User can store important information related to friends, accounts. </li><br>
                                                    <li>Reminder and other important information.</li><br>
                                                    <li>User can send stored information through mail..</li><br>
                                                    <li>User  also send information to its friend (Skype, email, Hook Up).</li><br>
                                                    <li>User can search for the stored information through search bar that.</li><br>
                                                    <li>User will receive an alert for corresponding reminder.</li><br>
                                                </ul>
                                                <br><br><br><br><hr/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="about-page-head" >BENEFIT</td>
                                        </tr>
                                        <tr>
                                            <td class="about-page-para">
                                                <ul>
                                                    <li>It provide feature to store important information digitally.</li><br>
                                                    <li>It is very helpful for every kind of user from a student to other.</li><br>
                                                    <li>User can mail stored information to itself or to a friend</li><br>
                                                    <li>This website is developed for both Android and iPhone both</li><br>
                                                </ul>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table  width="100%" cellspacing="0" cellpadding="20">
                                        <tr>
                                            <td>
                                                <center>
                                                    <a href="{{url_for('log')}}">
                                                        <img src="{{url_for('static',filename='img/j11.jpg')}}"/><br><br><br><br><br><br><br><br><br>
                                                    </a>
                                                </center>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="about-page-subhead">
                                                        CONTACT US
                                                </label>
                                                <a href="{{url_for('cnt')}}">
                                                    <img src="{{url_for('static',filename='img/j9.webp')}}" height="200px" width="300px"/>
                                                </a>
                                            </td>
                                         </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>{% include('footer.html') %}</td>
                </tr>
            </table>
        </form>
    {% endblock %}
    </body>
</html>