<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <style>
            #tod
            {
                text-align:center;
                color:silver;
                font-size:14pt;
                background:firebrick;
            }
        </style>
    </head>
    <body>
        <form>
            <table width="100%" cellspacing="0">
                <tr>
                    <td id="tod">This site is developed by Ashutosh Prasad &copy;</td>
                </tr>
            </table>
        </form>
    </body>
</html>