<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact Us</title>
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
        <link rel="shortcut icon" href="{{url_for('static',filename='fav_icon/icon.ico')}}"/>
        <style>
            ::placeholder {color: lightslategray;font-size:12pt;}

        </style>
    </head>
    <body>
    {% block body %}
        <form method="post" action="/cont">
            <div>{% include('header.html') %}</div>
            <h1 style="color:green;text-align:center">{{m}}</h1>
            <div class="contactus">
                <div><img src="{{url_for('static',filename='img/contactUsImg.jpg')}}"></div>
                <div class="contact-form">
                    <h1>Contact Us</h1>
                    <div>
                        <label>Name</label>
                        <input type="text" placeholder="your name" name="t1">
                        <label>Mobile</label>
                        <input type="text" placeholder="phone number" name="t2">
                        <label>Email</label>
                        <input type="email" required placeholder="your email" name="t3">
                        <label>Give us a message !</label>
                        <textArea type="text" placeholder="your message" name="t4"></textArea>
                        <input type="submit" value="SEND" name="send-message">
                    </div>
                </div>
            </div>
            <div>{% include('footer.html') %}</div>
        </form>
    {% endblock %}
    </body>
</html>