<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='fav_icon/icon.ico')}}" />
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
</head>

<body>
    <nav class="navbar">
        <div class="navbrand">
            <a href="{{url_for('hom')}}">
                <img src="{{url_for('static',filename='img/branding.png')}} " />
            </a>
        </div>
        <div class="nav-items">
            <ul>
                <li>
                    <a href="{{url_for('hom')}}">
                        <img src="{{url_for('static',filename='icons/mainhome.png')}}" height="30" width="30" />
                        <p style="font-size:8pt">HOME</p>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('ab')}}">
                        <img src="{{url_for('static',filename='icons/about.png')}}" height="30" width="30" />
                        <p style="font-size:8pt">ABOUT</p>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('conts')}}">
                        <img src="{{url_for('static',filename='icons/contact-us.png')}}" height="30" width="30" />
                        <p style="font-size:8pt">CONTACT</p>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('reg')}}">
                        <img src="{{url_for('static',filename='icons/signup.png')}}" height="30" width="30" />
                        <p style="font-size:8pt">SIGNUP</p>
                    </a>
                </li>
                <li>
                    <a href="{{url_for('log')}}">
                        <img src="{{url_for('static',filename='icons/login.png')}}" height="30" width="30" />
                        <p style="font-size:8pt">LOGIN</p>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</body>

</html>