<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='fav_icon/icon.ico')}}" />
    <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
</head>

<body>
    {% block body %}
    <form method="post" action="/home">
        <div>{% include('header.html') %}</div>
        <section>
            <!--hero section-->
            <div class="hero-section">
                <img src="{{url_for('static',filename='img/hero-image.jpg')}}">
                <div class="hero-tags">
                    <h1>
                        Looking For A Digital Diary.
                    </h1>
                    <p>
                        Digital technology is taking over the world as more and more businesses are
                        undergoing digital transformation to build the strong brand presence. Digitize
                        Future is a trusted partner for our customers to take them through the Digital
                        Transformation.
                    </p>
                    <a href="{{url_for('log')}}">know more</a>
                </div>
            </div>
        </section>
        <!-- news section and purchaes section -->
        <section class="news-purchase">
            <div class="news">
                <h1>News</h1>
                <div class="marquee">
                    <marquee direction="right" behavior="alternate" onmouseover="this.stop();" onmouseout="this.start(); "
                    scrollamount="10" height="40" width="100%">
                    <div>
                        {% for y in yt %}
                        <span>
                            <a href="{{url_for('log')}}">
                                <span><b>   {{y[0]}}-</b> </span><span>{{y[1]}}</span>
                                <small>{{y[2]}}</small>
                            </a>
                        </span>
                        {% endfor %}
                    </div>
                </marquee>
                </div>
            </div>
        </section>
        <section>
             <div class="purchase">
                 <h1>NO PURCHASES REQUIRED !</h1>
                 <img src="{{url_for('static',filename='img/no-money.jpg')}}" />
            </div>
        </section>
        <!-- services -->
        <section class="service">
            <h1 class="service-head">Our services</h1>
            <div class="service-items">
                <div class="jokes">
                    <h1>jokes</h1>
                    <img src="{{url_for('static',filename='img/jokes.jpg')}}" />
                    <a href="{{url_for('log')}}">know more</a>
                </div>
                <div class="notes">
                    <h1>notes</h1>
                    <img src="{{url_for('static',filename='img/notes.jpg')}}" />
                    <a href="{{url_for('log')}}">know more</a>
                </div>
                <div class="contact">
                    <h1>contact</h1>
                    <img src="{{url_for('static',filename='img/contacts.jpg')}}" />
                    <a href="{{url_for('log')}}">know more</a>
                </div>
            </div>
        </section>
        <section class="team">
            <h1>Our Team</h1>
            <div class="members">
                <div>
                    <img src="{{url_for('static',filename='img/team.jpg')}}" />
                    <h1>Pranay Shukla</h1>
                    <small>Backend Developer</small>
                </div>
                <div>
                    <img src="{{url_for('static',filename='img/team.jpg')}}" />
                    <h1>Vikas Mishra</h1>
                    <small>Front-end designer
                    <br>, resource handler.
                    </small>
                </div>
                <div>
                    <img src="{{url_for('static',filename='img/team.jpg')}}" />
                    <h1>Ashutosh Prasad</h1>
                    <small>Interactive Front-end Developer</small>
                </div>
            </div>
        </section>

        <footer>
            {% include('footer.html') %}
        </footer>
    </form>
    {% endblock %}
</body>

</html>