<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jokes</title>
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
        <link rel="shortcut icon" href="{{url_for('static',filename='fav_icon/icon.ico')}}"/>
    <body>
        {% block body %}
            <form method="post" action="/jokes" >
                <div>{% include('userheader.html') %}</div>
                <div class="usernotes">
                    <div>
                        <input type="text" placeholder="username" name="t1">
                        <input type="text" placeholder="joke shared by" name="t2">
                        <input type="text" placeholder="details" name="t3">
                        <input type="date" name="t4">
                        <input type="time" name="t5">
                        <div class="userjokes">
                            <input type="submit"  name="save"  value="save">
                            <input type="submit"  name="up"  value="update">
                            <input type="submit"  name="del" value="delete">
                        </div>
                    </div>
                    <div>
                        <h1>Add jokes</h1>
                        <p>wanna save your jokes just fill entries and save your funny joke...</p>
                    </div>
                </div>
                <div>
                    <table width="100%" cellpadding="20" cellspacing="10" class="notes-show">
                        <tr>
                            <td style="border-right:1px solid brown;">Retrieve your jokes using your username..</td>
                            <td class="usershow">
                                <input type="text" name="u1" placeholder="USERNAME"/>
                                <input type="submit" name="show" value="show"/>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <table width="100%" cellspacing="0" cellpadding="20" border="1" style="background:white" >
                                    <tr>
                                        <th>Joke Id</th>
                                        <th>Username</th>
                                        <th>Refered By</th>
                                        <th>Joke</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                    </tr>
                                    {% for l in po %}
                                    <tr class="tr_1">
                                        <td>{{l[0]}}</td>
                                        <td>{{l[1]}}</td>
                                        <td>{{l[2]}}</td>
                                        <td>{{l[3]}}</td>
                                        <td>{{l[4]}}</td>
                                        <td>{{l[5]}}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>{% include('userfooter.html') %}</div>
            </form>
        {% endblock %}
    </body>
</html>