<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="shortcut icon" href="{{url_for('static',filename='fav_icon/icon.ico')}}"/>
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
        <style>
            ::placeholder {color: lightslategray;font-size:12pt;}
            body{
                background:#edeef0;
            }
        </style>
    </head>
    <body>
    {% block body %}
        <form method="post" action="/login">
            <div>{% include('header.html') %}</div>
            <div class="loginContainer">
                <div class="loginForm">
                    <h1>Login</h1>
                    <div>
                        <label>username</label>
                        <input type="text" name="t1">
                    </div>
                    <div>
                        <label>password</label>
                        <input type="text" name="t2">
                    </div>
                    <input type="submit" value="login" name="lo">
                </div>
                <div class="loginImg">
                    <img src="{{url_for('static',filename='img/loginimg.jpg')}}">
                </div>
            </div>

            <div>{% include('footer.html') %}</div>

        </form>
    {% endblock %}
    </body>
</html>