<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Registeration</title>
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
        <link rel="shortcut icon" href="{{url_for('static',filename='fav_icon/icon.ico')}}"/>
        <style>
            body{
                background:#edeef0;
            }
        </style>
    </head>
    <body>
    {% block body %}
        <form method="post" action="/register" enctype="multipart/form-data">
            <div>{% include('header.html') %}</div>
            <div class="tag"><h1>Registration</h1></div>
            <div class="form">
                <div class="flex">
                    <div>
                        <label>username</label>
                        <input type="text" name="t1">
                    </div>
                    <div>
                        <label>email</label>
                        <input type="email" name="t5">
                    </div>
                </div>
                <div class="flex">
                    <div>
                        <label for="">password</label>
                        <input type="text" name="t2" maxlength="12">
                    </div>
                    <div>
                        <label for="">confirm password</label>
                        <input type="text" name="t3" maxlength="12">
                    </div>
                </div>
                <div class="flex">
                    <div>
                        <label for="">gender</label>
                        <select name="t4">select
                            <option>male</option>
                            <option>female</option>
                            <option>transgender</option>
                        </select>
                    </div>
                    <div>
                        <label for="">pincode</label>
                        <input type="text" name="t6" maxlength="6">
                    </div>
                </div>
                <div class="flex">
                    <div>
                        <label for="">marriage status</label>
                        <select name="t7" >
                            select
                            <option value="">married</option>
                            <option value="">unmaried</option>
                            <option value="">divorced</option>
                            <option value="">widower</option>
                        </select>
                    </div>
                    <div>
                        <label for="">living status</label>
                        <select name="t8">
                            select
                            <option value="">high class</option>
                            <option value="">middle class</option>
                            <option value="">low class</option>
                            <option value="">upper middle class</option>
                            <option value="">upper lower class</option>
                        </select>
                    </div>
                </div>
                <div class="flex">
                    <div>
                        <label for="">date of birth</label>
                        <input type="date" name="t9">
                    </div>
                    <div>
                        <label for="">timeline</label>
                        <input type="time" name="t10">
                    </div>
                    <div>
                        <label for="">address</label>
                        <textarea name="t11" id="" cols="30" rows="10"></textarea>
                    </div>
                </div>
                <div class="flex">
                    <div>
                        <label for="">profile picture</label>
                        <input type="file" name="file_data">
                    </div>
                </div>
                    <div class="flex">
                        <input type="submit" value="register" name="reg">
                        <button class="button" >
                            <a href="{{url_for('log')}}" >
                                Already have an Account
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div>{% include('footer.html') %}</div>
        </form>
    {% endblock %}
    </body>
</html>