<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contacts</title>
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
        <link rel="shortcut icon" href="{{url_for('static',filename='fav_icon/icon.ico')}}"/>

    </head>
    <body>
    {% block body %}
        <form method="post" action="/usercontact">
            <div>{% include('userheader.html') %}</div>
            <h1>{{m}}</h1>
            <div class="usercontact">
                <div class="left">
                    <div>
                        <h1>Show your contacts</h1>
                        <label>username</label>
                        <input type="text" name='r1'>
                        <input type="submit" value="show" name="fi">
                    </div>
                </div>
                <div class="right">
                    <h1>save new contact</h1>
                    <input type="text" placeholder="username" name="t1">
                    <input type="text" placeholder="person name" name="t2">
                    <input type="text" placeholder="address1" name="t3">
                    <input type="text" placeholder="address2" name="t4">
                    <input type="text" placeholder="whatsapp number" name="t5">
                    <input type="text" placeholder="calling number" name="t6">
                    <input type="text" placeholder="details" name="t7">
                    <input type="submit" value="save" name="s">
                </div>
            </div>
            <div>
                <table border="1"  width="100%" cellpadding="10"   cellspacing="0">
                    <tr>
                        <th>Contact Id</th>
                        <th>Username</th>
                        <th> Contact Person</th>
                        <th>Office Address</th>
                        <th>Home Address:-</th>
                        <th>Calling no:-</th>
                        <th>Whatsapp no:-</th>
                        <th>Details:-</th>
                    </tr>
                    {% for j in ro %}
                    <tr class="tr_1">
                        <td>{{j[0]}}</td>
                        <td>{{j[1]}}</td>
                        <td>{{j[2]}}</td>
                        <td>{{j[3]}}</td>
                        <td>{{j[4]}}</td>
                        <td>{{j[5]}}</td>
                        <td>{{j[6]}}</td>
                        <td>{{j[7]}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div>{% include('userfooter.html') %}</div>
        </form>
    {% endblock %}
    </body>
</html>