<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>footer</title>
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
    </head>
    <body>
        <footer class="footer userfooter">
            <div class="quick-links">
                <div>+91-1140872633(give a missed call)</div>
                <div>+91-1140987645(whatsapp us)</div>
                <div>ashutoshprasad2427@gmail.com</div>
            </div>
            <img src="{{url_for('static',filename='img/branding.png')}} " height="80" width="160" class="footer-img"/>
            <h2>follow us</h2>
            <div class="follow">
                <a href="https://www.linkedin.com/in/ashutosh-prasad-02a7b4169">
                    <img src="{{url_for('static',filename='icons/linkedin.png')}}" height="30px" />
                </a>
                <a href="https://www.instagram.com/ashutosh_as_2412/">
                    <img src="{{url_for('static',filename='icons/instagram.png')}}" height="30px"/>
                </a>
                <a href="https://www.youtube.com/channel/UCDSOOSUOOnT0S3vfXB1IHtA?view_as=subscriber">
                    <img src="{{url_for('static',filename='icons/youtube.png')}}"  height="30px"/>
                </a>
            </div>
            <div class="copyright">
                <p>Copyright 2021 &copy; Digital Diary Inc. All rights are reserverd.</p>
            </div>
        </footer>

    </body>
</html>