<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
        <link rel="shortcut icon" href="{{url_for('static',filename='fav_icon/icon.ico')}}"/>
    </head>
    <body>
        {% block body %}
            <form method="post" action="/profile">
                <div>{% include('userheader.html') %}</div>
                <div class="profile">
                    <div class="pro-img">
                        {% for h in d %}
                            <img src="static/upload_images/{{h[11]}}" class="userprofile-round">
                        {% endfor %}
                    </div>
                    <div class="pro-details">
                        <div>
                            <h1>{{session['un'].upper()}}</h1>
                            {% for i in d %}
                            <label>{{i[0]}}</label>
                            <label>{{i[8]}}</label>
                            <label>{{i[3]}}</label>
                            <label>{{i[5]}}</label>
                            <label>{{i[7]}}</label>
                            <label>{{i[4]}}</label>
                            <label>{{i[9]}}}</label>
                            <label>{{i[10]}}</label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div>{% include('userfooter.html') %}</div>

            </form>
        {% endblock %}
    </body>
</html>