<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="shortcut icon" href="{{url_for('static',filename='fav_icon/blue_icon.ico')}}"/>
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>
    </head>
    <body>
        <nav class="user-navbar">
            <div class="user-navbrand">
                <a href="{{url_for('hom')}}">
                    <img src="{{url_for('static',filename='img/branding.png')}} " />
                </a>
            </div>
            <div class="user-nav-items">
                <ul>
                    <li>
                        <a href="{{url_for('homeuser')}}">
                            <p>Home</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('prof')}}">
                            <p>Profile</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('ucon')}}">
                            <p>My contacts</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('nt')}}" >
                            <p>Notes</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('jks')}}" >
                            <p>Jokes</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('feed')}}">
                            <p>feedback</p>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('log')}}" >
                            <p >Logout</p>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>